*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 10%;
    display: flex;
    /* Coloca os filhos (h1 e nav) lado a lado */
    align-items: center;
    /* Alinha verticalmente ao centro */
    gap: 30px;
    /* Espaço entre o título e o menu */
    padding: 0 70px;
    /* Espaço nas laterais */
    background-color: #052354;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 10px;
}



header h1 {
    color: #ffffff;
}

.logo {
    display: flex;
    /* Coloca a imagem e o texto lado a lado */
    align-items: center;
    /* Centraliza os dois na mesma altura */
    gap: 10px;
    /* Espaço entre a imagem e o texto */

}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}


main {
    width: 70%;
    margin: auto;
}

header nav {
    padding-left: 40px;
}

.acoes-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.acoes-header input {
    background-color: #0b2e68;
    border-radius: 5px;
    padding: 10px 10px;
    margin-right: auto;
    margin-left: 90px;
    border: none;
    outline: none;
}

.acoes-header input:hover {
    background-color: #d0cccc;
}

.acoes-header img {
    width: 35px;
    /* Largura e altura iguais */
    height: 35px;
    border-radius: 50%;
    /* Deixa 100% redonda */
    object-fit: cover;
    /* 👈 Não deixa o rosto ficar esticado/achatado */
    cursor: pointer;
    margin-right: auto;
    margin-left: 20px;

}

header nav ul {
    height: 10%;
    margin: auto;
    display: flex;
    list-style: none;
    margin: 0px;
}

header nav ul li {
    display: block;
    position: relative;
    float: left;
}

header nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: rgb(109, 105, 105);
    width: 100px;
    padding: 20px 20px;
    background: #052354;
    margin-left: 1px;
    white-space: nowrap;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



main {
    height: 80%;
}

#acoes-tabela {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    height: 40px;
}

#acoes-tabela h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#acoes-tabela input {
    border-radius: 5px;
    border: 1px solid rgb(108, 105, 105);
    width: 165px;
    margin-left: 350px;
    padding: 5px 5px 5px 5px;
}

#acoes-tabela button {
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: 1px solid rgb(108, 105, 105);
    background-color: #052354;
    color: #fff;
}

table {
    border: 1px solid rgb(125, 122, 122);
    margin-top: 20px;
    border-radius: 8px;

    /* Troque o collapse por esses dois: */
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    /* Corta o fundo escuro do cabeçalho para acompanhar a curva */
}

.usuario-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.usuario-info img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;

}


#tabela-cabeca {
    background-color: #052354;
    border-radius: 5px;
}

#tabela-cabeca th {
    padding: 10px 10px;
    border-bottom: 1px solid #e0e0e0;
    color: white;
}

#tabela-corpo tr td {
    border-bottom: 1px solid rgb(125, 122, 122);
    padding: 10px 10px;
}

#tabela-corpo tr td a {
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    color: #052354;
}

.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    gap: 10px;
}

.paginacao button {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    border: none;
    color: #000000;
}

.paginacao button:hover {
    background-color: #0b2e68;
    color: #ffffff;
}

#slide {
    width: 650px;
    overflow: hidden;
    height: 250px;
    margin: 50px auto;
    position: relative;
    border-radius: 10px;
}

#slide img {
    position: absolute;
    z-index: 1;
    display: none;
    left: 0;
}

#slide span {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    cursor: pointer;
    color: #000000;
}

#anterior {
    left: 10px;
}

#proximo {
    right: 10px;
}

#slide p {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    font-family: Arial;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.titulo {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#sanfona {
    max-width: 1000px;
    margin-top: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
}

.icone {
    font-size: 30px;
    font-weight: bold;
    color: #555;
}


#sanfona h2 {
    display: flex;
    justify-content: space-between;
    /* Texto na esquerda, ícone na direita */
    align-items: center;
    /* Alinha os dois na mesma altura */
    margin: 0;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border-top: 1px solid #e0e0e0;
}

.conteudo p {
    margin-left: 20px;
}